.tagSelector {
    background-color: var(--sidebar-background);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    max-height: 300px; /* Ограничиваем высоту */
    overflow-y: auto; /* Добавляем скролл */
  }
  
  .addTag {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .input {
    flex: 1;
    padding: 0.75rem;
    border: 1px solid var(--input-border);
    border-radius: 0.375rem;
    font-size: 1rem;
    background-color: var(--input-background);
    color: var(--text-color);
  }
  
  .addButton {
    background-color: var(--button-background);
    color: var(--button-text);
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .tagList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .tag {
    background-color: var(--background-color);
    border-radius: 0.375rem;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    color: var(--text-color);
  }